# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Laravel関連
vendor
node_modules
.env
.env.*
/src/.env
/src/.env.testing
/src/.env.*
!/src/.env.example
/src/.phpunit.result.cache
/src/.phpunit.cache

# storage
/src/storage/*.log
!/src/storage/app/public
!/src/storage/app/public/.gitkeep

/src/storage/*.key
/src/storage/framework/cache/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*
/src/storage/logs/*

/src/.vscode