/* リセット的なもの */
* {
  box-sizing: border-box;
}

/* Reactで必須の下地 */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f4f6f8;
  color: #333;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.app-inner {
  width: 100%;
  max-width: 560px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.color-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.color-sample{
  width: 30px;
  height: 15px;
}
.main-color {
  background: #B7B1A6;
}
.sub-color {
  background: #F7F6F4;
}
.sunny {
  background: #F2B705;
}
.cloud {
  background: #9DA3A6;
}
.rain {
  background: #7FAFC9;
}

/* ===== Header ===== */

.header {
  padding: 24px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.title {
  margin: 0;
  font-size: 24px;
}
.subtitle {
  margin: 4px 0 0;
  color: #666;
  font-size: 14px;
}


/* ===== Main ===== */

.main {
  flex: 1;
  padding: 16px;
  display: grid;
  gap: 16px;
}
.card {
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}


/* ===== Tabs ===== */

.tabs {
  display: flex;
  border-bottom: 1px solid #ddd;
  margin-bottom: 16px;
}

.tab {
  flex: 1;
  padding: 12px;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 14px;
  cursor: pointer;
  color: #666;
  border-bottom: 3px solid transparent;
}
.tab:hover {
  background: #f7f7f7;
  border-radius: 0;
  border-bottom: 3px solid #F2B705;
}
.tab.active {
  color: #222;
  font-weight: 600;
  border-bottom: 3px solid #B7B1A6;
}
.tab:focus {
  outline: none;
}
.tab:focus-visible {
  outline: 2px solid #F2B705;
  outline-offset: 2px;
}

/* ===== Tab Content ===== */

.tab-content {
  padding-top: 8px;
}

.label {
  font-size: 12px;
  color: #888;
  margin-bottom: 8px;
}

.search-wrapper {
  position: relative;
  gap: 0;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 0;
}

.autocomplete-list {
  position: absolute;
  margin-top: 0;
  padding-top: 0;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 240px;
  overflow-y: auto;
}
.autocomplete-item {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}
.autocomplete-item:hover {
  background: #f0f0f0;
}

.candidate-list {
  list-style: none;
  padding: 0;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
}

.candidate-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}
.candidate-item:hover {
  background: #f0f0f0;
  font-weight: 600;
}

.helper-text {
  margin: 12px 0;
  font-size: 12px;
}
.helper-text.error {
  color: red;
}

/* ===== Footer ===== */

.footer {
  padding: 12px;
  text-align: center;
  font-size: 12px;
  color: #999;
}
