/* ===== Header ===== */
.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 560px;
  min-width: 320px;

  padding: 24px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}
.app-logo {
  margin: 0;
  font-size: 24px;
}
.app-tagline {
  margin: 4px 0 0;
  color: #666;
  font-size: 14px;
}

/* ===== Main ===== */
.main {
  flex: 1;
  padding: 10px;
  padding-top: 130px;
  display: grid;
  gap: 16px;
}
.page-section {
  position: relative;
  background: #B7B1A6;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* ===== Footer ===== */
.footer {
  padding: 12px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

/* ===== debug ===== */
.color-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.color-sample{
  width: 30px;
  height: 15px;
}
.main-color {
  background: #B7B1A6;
}
.sub-color {
  background: #F7F6F4;
}
.sunny {
  background: #F2B705;
}
.cloud {
  background: #9DA3A6;
}
.rain {
  background: #7FAFC9;
}
