/* =========================
        今日カード
========================= */
.weather-card-today {
  border: 2px solid #F2B705;
}

/* =========================
      明日・明後日カード
========================= */
.weather-card-near .weather-icon {
  width: 48px;
  height: 48px;
}
.weather-accordion {
  margin-top: 10px;
}
.accordion-summary {
  font-size: 10px;
}

/* =========================
      ４日目以降カード
========================= */
.weather-card-far .weather-icon {
  width: 30px;
  height: 30px;
}

.weather-card-far .outfit-icon {
  width: 48px;
  height: 48px;
}
.weather-card-far .outfit-label {
  font-size: 12px;
}
