/* =========================
        今日カード
========================= */
.weather-card-today {
  /* border: 2px solid #F2B705;
  background: #fffbe8; */
}

/* =========================
      明日・明後日カード
========================= */
.weather-card-near .weather-meta-list {
  opacity: 0.9;
}
.weather-card-near {
  background: #ffffff;
}

/* =========================
      ４日目以降カード
========================= */
.weather-card-far {
  /* background: #fafafa; */
  /* opacity: 0.85; */
}
.weather-card-far .outfit-icon {
  width: 48px;
  height: 48px;
}
.weather-card-far .outfit-label {
  font-size: 12px;
}
