/* =========================
    タブコンテンツの枠＋検索UI
========================= */
/* タブコンテンツの大枠 */
.tab-content {
  padding-top: 8px;
}

/* 検索UI */
.search-label {
  font-size: 12px;
  color: #F7F6F4;
  margin-bottom: 8px;
}
.tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.tab-icon {
  width: 14px;
  height: 14px;
  margin-top: -1px;
}

.search-wrapper {
  margin-bottom: 30px;
  position: relative;
  gap: 0;
}
.search-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 0;
}
/* 候補が表示されている時だけ */
.search-input.has-candidates {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.autocomplete-list {
  list-style: none;
  margin: 0;
  padding: 0;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  background: #fff;
  max-height: 240px;
  overflow-y: auto;
  z-index: 10;
}
.autocomplete-item {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}
.autocomplete-item:hover,
.autocomplete-item.active {
  background: #f0f0f0;
  font-weight: 600;
}

.selected-location-label {
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}

.helper-text {
  margin: 12px 0;
  font-size: 12px;
}
.helper-text.error {
  color: red;
  font-size: 12px;
  margin-top: 6px;
}
