/* =========================
    タブコンテンツの枠＋検索UI
========================= */
/* タブコンテンツの大枠 */
.tab-content {
  padding-top: 8px;
}

/* 検索UI */
.search-label {
  font-size: 12px;
  color: #F7F6F4;
  margin-bottom: 8px;
}
.search-wrapper {
  margin-bottom: 30px;
  position: relative;
  gap: 0;
}
.search-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 0;
}

.autocomplete-list {
  position: absolute;
  margin-top: 0;
  padding-top: 0;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  max-height: 240px;
  overflow-y: auto;
}
.autocomplete-item {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}
.autocomplete-item:hover {
  background: #f0f0f0;
}

.candidate-list {
  list-style: none;
  padding: 0;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
}
.candidate-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
}
.candidate-item:hover {
  background: #f0f0f0;
  font-weight: 600;
}

.selected-location-label {
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;
}

.helper-text {
  margin: 12px 0;
  font-size: 12px;
}
.helper-text.error {
  color: red;
}
