/* ===== Reset / Base ===== */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
} /* Reactで必須の下地 */

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f4f6f8;
  color: #333;
}

/* ===== App Layout ===== */
.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.app-inner {
  width: 100%;
  max-width: 560px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* ===== debug ===== */
.color-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.color-sample{
  width: 30px;
  height: 15px;
}
.main-color {
  background: #B7B1A6;
}
.sub-color {
  background: #F7F6F4;
}
.sunny {
  background: #F2B705;
}
.cloud {
  background: #9DA3A6;
}
.rain {
  background: #7FAFC9;
}
